@page "/event/{eventId:int}/leaderboards"
@page "/event/{eventId:int}/leaderboard/{raceTypeStr}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Newtonsoft.Json
@inject IJSRuntime JS
<h3>EventLeaderboard</h3>

@if (leaderboards != null)
{
	<a href="/event/@eventId">Back to Event</a>
	@foreach(var leaderboard in leaderboards)
	{
		Race[] races = null;
		racesByLeaderboardId.TryGetValue(leaderboard.InjestLeaderboardId, out races);
		<LeaderboardDetailsView leaderboard="leaderboard" races="races"/>
	}
}
else
{
	<p>Loading ...</p>
}


@code {
	[Parameter]
	public int eventId { get; set; }
	[Parameter]
	public string? raceTypeStr { get; set; }
	List<Leaderboard> leaderboards = new List<Leaderboard>();
	Dictionary<int, Race[]> racesByLeaderboardId = new();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadLeaderboards();
	}

	private async Task LoadLeaderboards()
	{
		if (!Enum.TryParse<RaceType>(raceTypeStr, out var raceType))
			raceType = RaceType.Unknown;

		if (raceType == RaceType.Unknown)
		{
			await SaveLoadLeaderboard(eventId, RaceType.Practice, leaderboards);
			await SaveLoadLeaderboard(eventId, RaceType.Qualifying, leaderboards);
		}
		else
		{
			await SaveLoadLeaderboard(eventId, raceType, leaderboards);
		}

		foreach (var leaderboard in leaderboards)
		{
			await SaveLoadRaces(eventId, leaderboard.LeaderboardId, leaderboard.RaceType, racesByLeaderboardId);
		}

		StateHasChanged();
	}

	async Task SaveLoadLeaderboard(int eventId, RaceType raceType, List<Leaderboard> leaderboards)
	{
		try
		{
			var leaderboard = await Http.GetFromJsonAsync<Leaderboard>($"api/event/{eventId}/leaderboard/{raceType}");
			leaderboards.Add(leaderboard);
		}
		catch (Exception ex)
		{
			var httpEx = ex as System.Net.Http.HttpRequestException;
			if (httpEx != null && httpEx.StatusCode == System.Net.HttpStatusCode.NotFound)
				return;
			throw ex;
		}
	}

	async Task SaveLoadRaces(int eventId, int leaderboardId, RaceType raceType, Dictionary<int, Race[]> racesByLeaderboardId)
	{
		try
		{
			var races = await Http.GetFromJsonAsync<Race[]>($"api/event/{eventId}/leaderboardResults/{raceType}");
			racesByLeaderboardId.Add(leaderboardId, races);
		}
		catch (Exception ex)
		{
			var httpEx = ex as System.Net.Http.HttpRequestException;
			if (httpEx != null && httpEx.StatusCode == System.Net.HttpStatusCode.NotFound)
				return;
			throw ex;
		}
	}
}
