@page "/events"
@page "/"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<h3>Events</h3>

@if (index != null)
{
	<div class="race-complited-container">
	@foreach (var entry in index)
	{
		<div class="float-element"><a href="/event/@entry.Id">@entry.Name</a></div>
	}
	</div>
}
else
{
	<p>Loading...</p>
}


@code {
	IndexEntry[] index;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		index = await Http.GetFromJsonAsync<IndexEntry[]>("api/eventIndex/");
		StateHasChanged();
	}
}
