@page "/events"
@page "/"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<h1>Events</h1>

@if (index != null)
{
	<menu class="menu-container menu-depth-2">
	@foreach (var entry in index)
	{
		<li class="link-element"><a href="/event/@entry.Id">@entry.Name</a></li>
	}
	</menu>
}
else
{
	<p>Loading...</p>
}


@code {
	IndexEntry[] index;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		index = await Http.GetFromJsonAsync<IndexEntry[]>("api/eventIndex/");
		StateHasChanged();
	}
}
