@page "/event/{eventId:int}/pilot/{pilotId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Newtonsoft.Json
@inject IJSRuntime JS
<h3>Event Pilot View</h3>

@if (pilot != null)
{
	<a href="/event/@eventId">Back to Event</a>
	@if (events != null)
	{
		<h4>Events</h4>
		<div class="race-complited-container">
		@foreach (var entry in events)
		{
			<div class="float-element"><a href="/event/@entry.Id">@entry.Name</a></div>
		}
		</div>
	}
	<PilotDetailView pilot=pilot linkToPilot=true/>	
	if(raceIndex != null)
	{
		<h5 class="card-title">Races</h5><br />
		<div class="race-complited-container">
		@foreach(var entry in raceIndex)
		{
			@if (races.TryGetValue(entry.Id, out var race))
			{
				<div class="float-element">
					<RaceSummaryView race="@race" />
				</div>
			}
		}	
		</div>
	}
}
else
{
	<p>Loading ...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }
	[Parameter]
	public int pilotId { get; set; }

	Pilot pilot;

	IndexEntry[] raceIndex;
	Dictionary<int, Race> races = new();

	IndexEntry[] events;


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{pilotId}");

		raceIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilot/{pilotId}/raceIndex");
		if(raceIndex != null && raceIndex.Length > 0)
		{
			foreach (var entry in raceIndex)
			{
				var race = await Http.GetFromJsonAsync<Race>($"api/race/{entry.Id}");
				if (race != null)
					races.Add(entry.Id, race);
			}
		}

		events = await Http.GetFromJsonAsync<IndexEntry[]>($"api/pilot/{pilotId}/eventIndex");

		StateHasChanged();
	}
}
