@page "/events"
@page "/"
@using FPVPulse.LocalHost.Client.Components.Data
@using Microsoft.AspNetCore.SignalR.Client
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<h1>Events</h1>

@if (index != null)
{
	<menu class="menu-container menu-depth-2">
	@foreach (var entry in index)
	{
		<li class="link-element"><a href="/event/@entry.Id">@entry.Name</a></li>
	}
	</menu>
}
else
{
	<p>Loading...</p>
}


@code {
	IndexEntry[] index;

	private HubConnection? hubConnection;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		index = await Http.GetFromJsonAsync<IndexEntry[]>("api/eventIndex/");

		StateHasChanged();

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();
		await hubConnection.StartAsync();

		hubConnection.On<int, int, Event>(ChangeSignalMessages.ChangeEventData, OnSignalChangeEventData);
	}

	private void OnSignalChangeEventData(int id, int parentId, Event @event)
	{
		DataUtil.WriteIndexEntry(index, id, @event?.Name);
		InvokeAsync(StateHasChanged);
	}
}
