@page "/event/{eventId:int}/pilots"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using Newtonsoft.Json
@inject IJSRuntime JS
<h3>EventPilots</h3>

@if(index != null&& pilots != null)
{
	<a href="/event/@eventId">Back to Event</a>
	<h5 class="card-title">Pilots</h5>
	<div class="race-complited-container">
	@foreach (var entry in index)
	{
		if (pilots.TryGetValue(@entry.Id, out var pilot))
		{
			<div class="float-element"><a href="/event/@eventId/pilot/@pilot.PilotId">@pilot.DisplayName</a></div>
		}
		else
		{
			<div class="float-element"><a href="/event/@eventId/pilot/@entry.Id">@entry.Name</a></div>
		}
	}
	</div>
}
else
{
	<p>Loading ...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }

	IndexEntry[] index;
	Dictionary<int, Pilot> pilots = new Dictionary<int, Pilot>();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		index = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilotIndex");
		foreach (var entry in index)
		{
			var pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{entry.Id}");
			pilots[entry.Id] = pilot;
		}

		StateHasChanged();
	}
}
