@page "/event/{eventId:int}/pilot/{pilotId:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using Newtonsoft.Json
<h3>Event Pilot View</h3>

@if (pilot != null)
{
		<code>@JsonConvert.SerializeObject(pilot, Formatting.Indented)</code>
}
else
{
		<p>Loading ...</p>
}

@code {
    [Parameter]
    public int eventId { get; set; }
    [Parameter]
	public int pilotId { get; set; }

	Pilot pilot;

	protected override async Task OnInitializedAsync()
	{
		pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{pilotId}");

		StateHasChanged();
	}
}
