@page "/injest"
@using FPVPulse.Ingest
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Injest Events</h3>

@if(events == null)
{
	<p>Loading events ...</p>
}
else if (!events.Any())
{
	<p>No events found.</p>
}
else
{
	<select @bind="CurrentEventId">
		<option>-- Select an event --</option>
		@foreach (var ev in events)
		{
			<option value="@ev.Id">@ev.Name</option>
		})
	</select>
}

@if (CurrentEventId != null)
{
	<p>Selected Event ID: @CurrentEventId</p>
	@if (races == null)
	{
		<p>Loading races ...</p>
	}
	else if (!races.Any())
	{
		<p>No races found for this event.</p>
	}
	else
	{
		@foreach (var kvp in races
			.OrderBy(kvp => InjestRace.GetRaceTypeOrder(kvp.Value.RaceType))
			.ThenBy(kvp => kvp.Value.FirstOrderPoistion)
			.ThenBy(kvp => kvp.Value.SecondOrderPosition))
		{
			InjestPilotResult[] flatList = null;
			if (pilotResults.TryGetValue(kvp.Key, out var pilotResult) && pilotResult != null)
			{
				flatList = pilotResult.Select(t => t.result).ToArray();
			}
			//JS.InvokeVoidAsync("console.log", "flatList:", flatList);

			<InjestRaceView @key="kvp.Key" Race="kvp.Value" Results="flatList"/>
			<hr />
		}
	}
}

@code {
	private HubConnection? hubConnection;

	private IndexEntry[]? events;
	private InjestEvent? currentEvent;
	private Dictionary<int, InjestRace> races = new();
	private Dictionary<int, List<(int id, InjestPilotResult result)>> pilotResults = new();

	private int? currentEventId;
	private int? CurrentEventId
	{
		get => currentEventId;
		set
		{
			if (currentEventId != value)
			{
				currentEventId = value;
				_ = OnCurrentEventChange();
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		events = await Http.GetFromJsonAsync<IndexEntry[]>("api/injest/inspect/eventIndex/");

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();

		hubConnection.On<ChangeGroup, int, int>(ChangeSignalMessages.Change, OnChange); 
		await hubConnection.StartAsync();
		await hubConnection.InvokeAsync("Subscribe", ChangeGroup.InjestEvent);
		await hubConnection.InvokeAsync("Subscribe", ChangeGroup.InjestRace);
		await hubConnection.InvokeAsync("Subscribe", ChangeGroup.InjestPilotResult);
	}

	private async Task OnCurrentEventChange()
	{
		races.Clear();
		pilotResults.Clear();

		if (CurrentEventId == null)
		{
			currentEvent = null;
		}
		else
		{
			currentEvent = await Http.GetFromJsonAsync<InjestEvent>($"api/injest/inspect/event/{CurrentEventId}");
			await LoadRacesAsync();
		}

		StateHasChanged();
	}

	private async Task LoadRacesAsync()
	{
		if (currentEventId == null)
			return;

		var raceIndexes = await Http.GetFromJsonAsync<IndexEntry[]>($"api/injest/inspect/eventRacesIndex/{CurrentEventId}");
		if (raceIndexes != null && raceIndexes.Length >= 0)
		{
			await LoadRacesByRaceId(raceIndexes.Select(r => r.Id));
		}
	}

	async Task LoadRacesByRaceId(IEnumerable<int> raceIds)
	{
		List<Task> loadTasks = new();
		foreach (var raceId in raceIds)
		{
			var loadTask = Task.Run(async () =>
			{
				var race = await Http.GetFromJsonAsync<InjestRace>($"api/injest/inspect/race/{raceId}");
				StoreInjestRace(raceId, race);

				var stream = await Http.GetStreamAsync($"api/injest/inspect/race/{raceId}/result");
				using var doc = await JsonDocument.ParseAsync(stream);
				foreach (var element in doc.RootElement.EnumerateArray())
				{
					if (element.TryGetProperty("pilotResultId", out var resultField))
					{
						var resultId = resultField.GetInt32();
						var pilotResult = element.Deserialize<InjestPilotResult>(new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
						StoreInjestPilotResult(raceId, resultId, pilotResult);
					}
				}
			});
			loadTasks.Add(loadTask);
		}
		await Task.WhenAll(loadTasks);

		StateHasChanged();
	}

	private async Task OnChange(ChangeGroup group, int id, int parentId)
	{
		if (group == ChangeGroup.InjestEvent)
		{
			if (id == CurrentEventId)
			{
				currentEvent = await Http.GetFromJsonAsync<InjestEvent>($"api/injest/inspect/event/{CurrentEventId}");
				StateHasChanged();
			}
		}
		else if (group == ChangeGroup.InjestRace)
		{
			if (parentId == CurrentEventId)
			{
				var raceId = id;
				var race = await Http.GetFromJsonAsync<InjestRace>($"api/injest/inspect/race/{raceId}");
				StoreInjestRace(raceId, race);
				StateHasChanged();
			}
		}
		else if (group == ChangeGroup.InjestPilotResult && races.ContainsKey(parentId))
		{
			var raceId = parentId;
			var resultId = id;
			var pilotResult = await Http.GetFromJsonAsync<InjestPilotResult>($"api/injest/inspect/race/result/{resultId}");

			if (pilotResult != null)
			{
				StoreInjestPilotResult(raceId, resultId, pilotResult);
				StateHasChanged();
			}
		}
	}

	void StoreInjestRace(int raceId, InjestRace race)
	{
		if (race != null)
			races[raceId] = race;
		else if (races.ContainsKey(raceId))
			races.Remove(raceId);
	}

	void StoreInjestPilotResult(int raceId, int resultId, InjestPilotResult pilotResult)
	{
		if (!pilotResults.TryGetValue(raceId, out var resultsList))
		{
			resultsList = new List<(int id, InjestPilotResult result)>();
			resultsList.Add((resultId, pilotResult));
			pilotResults.Add(raceId, resultsList);
		}
		else
		{
			int existingIndex = resultsList.FindIndex(r => r.id == resultId);
			if (existingIndex >= 0)
				resultsList[existingIndex] = (resultId, pilotResult);
			else
				resultsList.Add((resultId, pilotResult));
		}
	}
}