@page "/pilot/{pilotId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Newtonsoft.Json
@inject IJSRuntime JS

@if(pilot != null)
{
	<h1>@pilot.DisplayName</h1>
	<a href="/pilots">Back to Pilots</a>
	<h2>Events</h2>
	<menu class="menu-container menu-depth-2">
	@foreach (var entry in events)
	{
		<li class="link-element"><a href="/event/@entry.Id">@entry.Name</a></li>
	}
	</menu>
	<PilotDetailView pilot=pilot />
}
else
{
	<p>Loading ...</p>
}

@code {
	[Parameter]
	public int pilotId { get; set; }

	Pilot pilot;

	IndexEntry[] events;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{pilotId}");

		events = await Http.GetFromJsonAsync<IndexEntry[]>($"api/pilot/{pilotId}/eventIndex");

		StateHasChanged();
	}
}
