@page "/pilots"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using Newtonsoft.Json
@inject IJSRuntime JS
<h1>Pilots</h1>

@if (index != null && pilots != null)
{
	<menu class="menu-container menu-depth-2">
	@foreach (var entry in index)
	{
		if (pilots.TryGetValue(@entry.Id, out var pilot))
		{
			<li class="link-element"><a href="/pilot/@pilot.PilotId">@pilot.DisplayName</a></li>
		}
		else
		{
			<li class="link-element"><a href="/pilot/@entry.Id">@entry.Name</a></li>
		}
	}
	</menu>
}
else
{
		<p>Loading ...</p>
}

@code {
	IndexEntry[] index;
	Dictionary<int, Pilot> pilots = new Dictionary<int, Pilot>();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		index = await Http.GetFromJsonAsync<IndexEntry[]>($"api/pilotIndex");
		foreach (var entry in index)
		{
			var pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{entry.Id}");
			pilots[entry.Id] = pilot;
		}
		StateHasChanged();
	}
}
