@page "/race/{raceId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@inject IJSRuntime JS

@if (race != null)
{
	<h1>@race.Name</h1>
	<a href="/event/@race?.EventId">Back to Event</a>
	<hr>

	@*<code>@Newtonsoft.Json.JsonConvert.SerializeObject(race, Formatting.Indented)</code>*@
	<RaceDetailsView race="@race" />
}
else
{
	<p>Loading ...</p>
}


@code {
	[Parameter]
	public int raceId { get; set; }

	private HubConnection? hubConnection;

	Race race;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		race = await Http.GetFromJsonAsync<Race>($"api/race/{raceId}");
		StateHasChanged();

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();
		await hubConnection.StartAsync();

		hubConnection.On<int, int, Race>(ChangeSignalMessages.ChangeRaceData, OnSignalChangeRaceData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.RaceData);
	}

	private void OnSignalChangeRaceData(int id, int parentId, Race race)
	{
		if (raceId == id)
		{
			this.race = race;
			InvokeAsync(StateHasChanged);
		}
	}
}
