@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data;

@if(race != null)
{
	<div>
		<h3><a href="race/@race.RaceId">@race.Name</a></h3>
		@if(race.Pilots != null && race.Pilots.Length > 0)
		{
			<table>
				<tr>
					<th>Pilot</th>
					<th>Nationality</th>
					<th>Position</th>
				</tr>
				@foreach (var racePilot in race.Pilots)
				{
					var result = race.Results.Where(e => e.LazyRacePilotId == racePilot.PilotId).FirstOrDefault();
					<tr>
						<td><a href="event/@race.EventId/pilot/@racePilot.PilotId">@racePilot.Pilot?.DisplayName</a></td>
						<td>@racePilot.Pilot?.CountryAlpha3</td>
						<td>@racePilot.Position</td>
					</tr>
				}
			</table>
		}
	</div>
}

@code {
	[Parameter]
	public Race? race { get; set; }
}
