@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data;

@if (race != null)
{
	@Prepare();
	<div>
		<h3>@race.Name</h3>
		<p>RaceType: @race.RaceType</p>
		<hr />
		@if (race.Pilots != null)
		{
			<RacePilotsView race="@race" />
		}
	</div>
}

@code {
	[Parameter]
	public Race? race { get; set; }

	string Prepare()
	{
		return string.Empty;
	}

	// TODO : Find out if a race is in progress

	// OPTION : Detect if Sector and Split Works
}
