<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark">
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["FPVPulse.LocalHost.styles.css"]" /> 
    <!---<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2.1.1/css/pico.classless.min.css">-->
    <ImportMap />
    <HeadOutlet />
    <script>
window.scrollToElementById = function(id) {
    console.log("scrollToElementById", id);
    var el = document.getElementById(id);
    if (el) el.scrollIntoView({ behavior: 'smooth', block: 'center' });
}
function copyAllHeights() {
    console.log("copyAllHeights");
    document.querySelectorAll('.race-type-container').forEach(function(container) {
        var source = container.querySelector('.brackets-container');
        var limit = container.querySelector('.leaderboard-narrow-container');
        var target = container.querySelector('.leaderboard-float-right');
        if (source && limit && target) {
			var height = Math.min(source.offsetHeight, limit.offsetHeight + 24);
            target.style.height = height + "px";
            console.log("Set height", target, "to", source.offsetHeight);
        }
    });
}
window.addEventListener('resize', copyAllHeights);
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
