<nav>
    <ul class="nav flex-column">
        <li class="nav-item"><NavLink class="nav-link" href="/injest" Match="NavLinkMatch.All">Injest View</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">Events</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/pilots" Match="NavLinkMatch.All">Pilots</NavLink></li>
    </ul>
</nav>