<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/injest" Match="NavLinkMatch.All">
                Injest View
            </NavLink>
            <NavLink class="nav-link" href="/wasm-test" Match="NavLinkMatch.All">
                wasm-test
            </NavLink>
        </li>
        <!-- Add more nav items here as you add more areas -->
    </ul>
</nav>